@use './mixins' as *;

[class*='icons-'] {
  display: inline-flex;
  width: 24px;
  height: 24px;
  flex: none;
  background-color: currentColor;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain;
  transition: background-color .3s;
}

.icon-spin { animation: icon-spin 1s linear infinite; }

@keyframes icon-spin {
  to { transform: rotate(360deg); }
}

@include icon-classes((
  add-plus-circle,
  arrow-down,
  arrow-left,
  arrow-right,
  assignment,
  bell-ring,
  building,
  building-02,
  buildings,
  calendar-check,
  calendar-days,
  calendar-empty,
  category,
  chart-bar,
  chart_line,
  check,
  chevron-left,
  chevron-right,
  circle-check,
  clock,
  close,
  close-circle,
  copy,
  dashboard2,
  download,
  empty-wallet,
  expenses,
  eye,
  favourite,
  file,
  file-excel,
  file-upload,
  finance-money,
  globe,
  header-support,
  hide,
  house,
  image,
  import-export,
  info,
  link,
  location-pin,
  lock,
  logout,
  mail,
  menu,
  minus,
  moon,
  notification-bell,
  overdue-time,
  payments,
  pen-line,
  phone,
  pin,
  plus,
  print,
  question-mark,
  redirect,
  reload,
  search,
  settings,
  sun,
  tag,
  tariff,
  timer,
  transfer,
  trash,
  unit,
  upload,
  user-add,
  user-circle,
  user-switch,
  user_check,
  users,
  users-group,
  warning,
));

@include icon-sizes;
